/* ------- */
/* OVERALL */
/* ------- */

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth !important;
}

/* ------ */
/* NAVBAR */
/* ------ */

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav li a {
    display: block;
    color: white;
    /* padding: 14px 16px; */
    padding: 2vh 0.75vw;
    text-decoration: none;
}

nav li a:hover {
    background-color: #04AA6D;
}

/* ------- */
/* SECTION */
/* ------- */

#textoz>img {
    width: 100%;
    height: auto;
}


#jump_around {
    height: 100vh;
    background-color: green;
}

#fivem {
    height: 100vh;
    background-color: blue;
}

#molengeek {
    height: 100vh;
    background-color: green;
}