/* ------- */
/* OVERALL */
/* ------- */

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth !important;
}

/* ------ */
/* NAVBAR */
/* ------ */

nav {
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav li a {
    display: block;
    color: white;
    /* padding: 14px 16px; */
    padding: 2vh 0.75vw;
    text-decoration: none;
}

nav li a:hover {
    background-color: #04AA6D;
}

/* ------- */
/* SECTION */
/* ------- */
section {
    border: 1px solid black;
    scroll-margin-top: 60px;
}

/* SECTION 1 */
#textoz>img {
    width: 100%;
    height: auto;
}

/* SECTION 2 */
#jump_around {
    display: flex;
    justify-content: space-evenly;
}

#jump_around .video {
    width: 50%;
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
}

#jump_around video {
    z-index: 1;
}

#jump_around .explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 95px;
    background-color: #04AA6D;
    color: white;
    width: 50%;
    border-left: 1px solid black;
}

/* SECTION 3 */
#fivem .row {
    display: flex;
    height: 50%;
}

#fivem .row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border: 1px solid black;
}

#fivem .explain {
    width: 45% !important;
    padding: 0 100px;
    background-color: #04AA6D;
    color: white;
}

#fivem img {
    width: 100%;
    height: auto;
}

#molengeek {
    height: 100vh;
    background-color: green;
}